@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

svg {
  max-width: 100%;
  display: block;
}
