$light-cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$disabled-btn-bg: hsl(183, 79%, 24%);
$disabled-btn-color: hsla(183.2, 100%, 15%, 0.75);
$white: hsl(0, 0%, 100%);
